.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .square{
        max-width: 600px;
        width: 100%;
        min-height: 600px;
        background: #000;
    }
}
